body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #7e7e7e;
}
h1 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #303030;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: #007BFF;
}
a:hover {
    text-decoration: underline;
}
img {
    display: block;
    margin-right: 20px;
    width: 100px;
    height: auto;
}
.summary {
    flex: 1;
}